name: Laravel + Vite CI/CD
# nama workflow

# listener menunggu event untuk berjalan
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # checkout = memilih repository --> branch paling terakhir
    - name: Checkout Repository
      uses: actions/checkout@v3
      
    # set up apa yang akan dipakai, github melakukan apa yang kita lakukan selama ini
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    # setup node JS for npm build
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
    
    # install composer 
    - name: Install Composer dependencies
      run: composer install --no-dev --optimize-autoloader
      
    - name: Install NPM dependencies
      run: npm ci
    # CI itu noninteractive, so no Y/N, auto Yes

    # jalanin npm run build
    - name: Build frontend assets
      run: npm run build

    # zip untuk masukin ke server
    - name: setup SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SERVER_KEY }}

    # upload and deploy to Hestia then unzip
    - name: Upload and extract on server
      run: |
          scp -o StrictHostKeyChecking=no deploy.zip ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }}:/home/${{ secrets.SERVER_USERNAME }}/deploy.zip
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_HOST }} "
            cd /home/${{ secrets.SERVER_USERNAME }}/web/feli.pakevan.web.id/public_html &&
            unzip -o /home/${{ secrets.SERVER_USERNAME }}/deploy.zip &&
            rm /home/${{ secrets.SERVER_USERNAME }}/deploy.zip &&
            php artisan optimize
          "
